<div class="container m-0 p-0">

  <div class="  row justify-content-center" *ngIf="action != 'add'">
    <h1 class="text-start text-center">Users</h1>
    <div  [ngClass]="setUsersComponentCol">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
               aria-describedby="button-addon2" [(ngModel)]="searchingUser"
               (keyup)="findUserByUsername(searchingUser)">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                (click)="deleteSearchingByUsername()">Abort</button>
        <button class="btn btn-warning" type="button" id="button-addon3" *ngIf="isAdminUser" (click)="navigateToAddPage()">Add</button>

      </div>
      <table class="table bg-secondary text-light">
        <thead>
        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Username</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.orderIdInFrontend}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.username}}</td>

          <td>
            <button type="button" class="btn btn-primary " (click)="setUser(user.userId)">view</button>
          </td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="loadingData">{{message}}</div>
    </div>
    <div class="col-6">
      <app-user-detail *ngIf="action==='view'" [user]="selectedUser"></app-user-detail>
      <app-user-edit *ngIf="action==='edit'&& isAdminUser" [user]="selectedUser"
                     (dataChangedEvent)="loadData()"></app-user-edit>
    </div>
  </div>
  <div class="col-12"  *ngIf="action == 'add'">
    <app-add-user></app-add-user>
  </div>
</div>


