<div class="userDetails">
  <h2>User details</h2>
  <div class="card col-6 bg-secondary  text-light" style="width: 25rem;">
    <div class="card-body">
      <table class="table text-light">
        <tr>
          <td>id:</td><td>{{user.userId}}</td>
        </tr>
        <tr>
          <td>Name:</td><td>{{user.firstName}}{{user.lastName}}</td>
        </tr>
        <tr>
          <td>Age:</td><td>{{user.userAge}}</td>
        </tr>
        <tr>
          <td>User name:</td><td>{{user.username}}</td>
        </tr>
        <tr>
          <td>Email:</td><td>{{user.userEmail}}</td>
        </tr>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-white">
              <div class="modal-header">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-warning">
                <p class="text-dark">Are you sure you want to delete?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  data-bs-dismiss="modal"
                        (click)="deleteUser(user.userId)">Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </table>

      <div class="links">
        <a class="card-link " (click)="editUser()" *ngIf="errorMessage == '' &&(isAdminUser || id == user.userId)">Edit
        </a>
        <a class="card-link text-warning" *ngIf= "errorMessage == '' && (isAdminUser || id == user.userId)"
           data-bs-toggle="modal"
           data-bs-target="#exampleModal">Delete</a>
        <a class="card-link text-info" (click)="closeUserDetail()"
           *ngIf="errorMessage == ''">Close
        </a>
        <button class="btn btn-danger  mt-3 text-white" *ngIf="errorMessage != ''"
                (click)="closeErrorMessage()">{{errorMessage}}</button>
      </div>
    </div>
  </div>
</div>

