<div class="container p-0 m-0" *ngIf="userIsLoggedIn">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="navigateToHome()"><span id="logo">Book club</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="navigateToHome()">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  active" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Books
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" (click)="navigateToBooks()">Books</a></li>
              <li><a class="dropdown-item" (click)="navigateToNonRentedBooks()">Available books</a></li>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  active" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Users
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" (click)="navigateToUsers()">Users</a></li>
              <li><a class="dropdown-item" (click)="navigateToBookOwner()">BookOwner</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="navigateToMyListing()">My listing</a></li>
              <li><a class="dropdown-item" (click)="navigateToWaitingList()">Waiting list</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" (click)="navigateToRentingData()">Renting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" (click)="navigateToLogin()" *ngIf="!userIsLoggedIn">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" (click)="logout()" *ngIf="userIsLoggedIn">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
