<div class=" container row d-flex justify-content-center p-0 m-0" *ngIf="!bookHidden">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Book title" aria-label="Book title"
           aria-describedby="button-addon2" [(ngModel)]="searchingBook"
           (keyup)="findBookByTitleOrByAuthorName(searchingBook)">
    <button class="btn btn-info" type="button" id="button-addon2"
            (click)="deleteSearchingByTitle()">Abort</button>
    <button class="btn btn-success border-secondary" type="button" id="button-addon3" (click)="addBook()">Add
      book</button>
  </div>
  <div class="col-sm-12  col-md-6 col-lg-4 col-xl-3  " *ngFor=" let book of books">

    <div class="card bg-white bg-opacity-75  border-0 m-3" style="width: 18rem;">
      <a (click)="setBook(book.book_id)">
        <div class="card-body" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <h5 class="card-title " data-toggle="tooltip" title="Find out the availability of this book"
          >{{book.book_title}}</h5>

          <h6 class="card-subtitle mb-2">{{book.author_fname }} {{ book.author_lname}}</h6>
        </div>
      </a>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Book title: {{selectedBook?.book_title}}</h5>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item"> Author name: {{selectedBook?.author_fname}}
                {{selectedBook?.author_lname}}</li>
              <li class="list-group-item"> Published {{selectedBook?.published}}</li>
              <li class="list-group-item">Availability:
                {{returnDate ? 'after ' + returnDate : 'available'}}</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="editBook()">Edit</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-edit-book *ngIf="bookHidden && (action==='edit' || action==='add')" [book]="selectedBook"
               (dataChangedEvent)="loadData()" [action]="action"></app-edit-book>

<div class="tooltip bs-tooltip-top" role="tooltip">
  <div class="arrow"></div>
  <div class="tooltip-inner">
    Some tooltip text!
  </div>
</div>
