<h1>User</h1>


<form #userForm="ngForm">

  <div class="form-group">
    <label for="firstName">First name</label>
    <input type="text" class="form-control" id="firstName" placeholder="first name"
           [(ngModel)]="formUser.firstName" name="name" (change)="checkIfFirstNameIsValid()" required #firstNameField=
             "ngModel">
    <div class="alert alert-danger" *ngIf="firstNameField.invalid && firstNameField.touched">First name is
      required
    </div>
    <div class="alert alert-danger" *ngIf="!firstNameIsValid && firstNameField.touched">Name cane not be blank</div>

  </div>

  <div class="form-group">
    <label for="firstName">Last name</label>
    <input type="text" class="form-control" id="lastName" placeholder="last name"
           [(ngModel)]="formUser.lastName" name="lastName" (change)="checkIfLastNameIsValid()" required
           #lastNameField=
             "ngModel">
    <div class="alert alert-danger" *ngIf="lastNameField.invalid && lastNameField.touched">Last name is
      required
    </div>
    <div class="alert alert-danger" *ngIf="!lastNameIsValid && lastNameField.touched">Name cane not be blank</div>

  </div>

  <div class="form-group">
    <label for="firstName">Age</label>
    <input type="text" class="form-control" id="userAge" placeholder="user age"
           [(ngModel)]="formUser.userAge" name="userAge" (change)="checkIfUserAgeIsValid()" required
           #userAgeField=
             "ngModel">
    <div class="alert alert-danger" *ngIf="userAgeField.invalid && userAgeField.touched">Age is
      required
    </div>
    <div class="alert alert-danger" *ngIf="!userAgeIsValid && userAgeField.touched">Age should be greater then 17</div>
  </div>

  <div class="form-group">
    <label for="firstName">User name </label>
    <input type="text" class="form-control" id="userName" placeholder="username"
           [(ngModel)]="formUser.username" name="userName" (change)="checkIfUsernameIsValid()" required
           #userNameField=
             "ngModel">
    <div class="alert alert-danger" *ngIf="userNameField.invalid && userNameField.touched">Username is
      required
    </div>
    <div class="alert alert-danger" *ngIf="!usernameIsValid && userNameField.touched">Username can not be blank</div>
  </div>

  <div class="form-group">
    <label for="firstName">User email </label>
    <input type="text" class="form-control" id="userEmail" placeholder="user email"
           [(ngModel)]="formUser.userEmail" name="userEmail" (change)="checkIfUserEmailIsValid()" required
           #userEmailField=
             "ngModel">
    <div class="alert alert-danger" *ngIf="userEmailField.invalid && userEmailField.touched">Email is required
    </div>
    <div class="alert alert-danger" *ngIf="!userEmailIsValid && userEmailField.touched">User email can not be
      blank</div>
  </div>


  <button type="button" class="btn btn-primary" (click)="onSubmit()"
          [disabled]="userForm.invalid || !firstNameIsValid || !lastNameIsValid || !userAgeIsValid ||
          !usernameIsValid || !usernameIsValid">Save
  </button>
</form>


