<div class="row" *ngIf="!action || action == 'delete'">
  <h1 class="m-2 mb-4 text-center">Book renting system</h1>
  <div class="input-group mb-3 ms-0 me-0 p-0">
    <input type="text" class="form-control" placeholder="book title"
           aria-label="Recipient's username"
           aria-describedby="button-addon2" [(ngModel)]="searchingBookTitle">
    <input type="text" class="form-control" placeholder="author first name"
           aria-label="Recipient's username"
           aria-describedby="button-addon2" [(ngModel)]="searchingAuthorFirstName">
    <input type="text" class="form-control" placeholder="author last name"
           aria-label="Recipient's username"
           aria-describedby="button-addon2" [(ngModel)]="searchingAuthorLastName">
    <button class="btn btn-success" type="button" id="button-addon6"
            (click)="creatingRentingDataForScreenListBySearching(searchingBookTitle, searchingAuthorFirstName,searchingAuthorLastName)">Search
    </button>
    <button class="btn btn-warning" type="button" id="button-addon2" (click)="deleteSearchingByBookTitle()">Abort
    </button>
    <button class="btn btn-secondary border-secondary" type="button" id="button-addon3" (click)="addRentingTable()">Add
    </button>
  </div>
  <div class="row row-striped p-0 m-0" *ngFor="let renting of rentingDataForScreenList">
    <div class="text-dark">
      <h3 class="text-uppercase"><strong> {{ renting.bookTitle }}</strong></h3>
      <div class="col-6">
        <p class="mb-0">Author name:  {{ renting.authorFirstName }} {{renting.authorLastName}}</p>

      </div>
      <div class="row">
        <h2>Borrowing details</h2>
        <div class="col-6">
          <p class="mb-0">Reader first name: {{ renting.borrowerFirstName}}</p>
          <p class="mb-0">Reader last name: {{ renting.borrowerLastName}}</p>
          <p class="mb-0">Renting date: {{ renting.borrowed_date}}</p>
          <p class="mb-0">Return date: {{ renting.return_date}}</p>
        </div>
        <div class="col-6">
          <a class="btn btn-warning" (click)="editRentingList(renting.id)">Edit</a>
          <button class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
             (click)="setDeleteRentingData(renting.id)" [disabled]="!isAdminUser && renting.borrowerId != id">
            Delete</button>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">

          </div>
          <div class="modal-body bg-warning">
            Ar you sure you want to delete the selected renting data?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
            <button type="button" class="btn btn-primary" (click)="onSubmit()">Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-6 mt-2">
    <app-edit-renting-data *ngIf="action==='edit'"
                           [rentingDetail]="selectedRentingDetail"
                           [newRentingTable]="selectedRentingTable" (dataChangedEvent)="loadData()">

    </app-edit-renting-data>
    <app-add-renting-data *ngIf="action==='add'" [newRentingTable] = "selectedRentingTable" (dataChangeEvent)="loadData()">

    </app-add-renting-data>
  </div>
</div>

